<%= simple_form_for(@hobby) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :public %>
    <%= f.input :tag_list, collection: Hobby::AVAILABLE_TAGS, as: :check_boxes %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
      </div>
      <div class="col-md-6">
        <%= f.input :difficulty, collection: Hobby::DIFFICULTIES.each_with_index.map.to_h %>
      </div>
    </div>

    <%= f.input :desc %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :starting_cost %>
      </div>
      <div class="col-md-6">
        <%= f.input :repeat_cost %>
      </div>
    </div>

    <h3>Resources</h3>
    <div id="resources">
      <div class="sortable">
        <%= f.simple_fields_for :resources do |resource| %>
          <%= render 'resource_fields', f: resource %>
        <% end %>
      </div>
      <div class="links text-right">
        <%= link_to_add_association 'add resource', f, :resources, class: 'btn btn-default' %>
      </div>
    </div>

    <h3 class="top-bumper">Affiliate Links</h3>
    <div id="affiliate-links">
      <div class="sortable">
        <%= f.simple_fields_for :affiliate_links do |affiliate_link| %>
          <%= render 'affiliate_link_fields', f: affiliate_link %>
        <% end %>
      </div>
      <div class="links text-right">
        <%= link_to_add_association 'add affiliate link', f, :affiliate_links, class: 'btn btn-default' %>
      </div>
    </div>

    <h3 class="top-bumper">Visuals (Videos and Images)</h3>
    <div id="visuals">
      <div class="sortable">
        <%= f.simple_fields_for :visuals do |visual| %>
          <%= render 'visual_fields', f: visual %>
        <% end %>
      </div>
      <div class="links text-right">
        <%= link_to_add_association 'add visual', f, :visuals, class: 'btn btn-default' %>
      </div>
    </div>
  </div>

  <div class="form-actions text-right top-bumper">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    function setPositions() {
      $('.sortable-item').each(function(i){
        $(this).find('.sortable-position').val(i);
      });
    }

    $( ".sortable" ).sortable({
      containment: "parent",
      appendTo: document.body,
      cursor: "move",
    });

    $('.sortable').sortable().bind('sortupdate', function(e, ui) {
      setPositions();
    });

    $('#resources').on('cocoon:after-insert', function() {
      setPositions();
    }).on("cocoon:after-remove", function() {
      setPositions();
    });

    $('#affiliate_links').on('cocoon:after-insert', function() {
      setPositions();
    }).on("cocoon:after-remove", function() {
      setPositions();
    });

    $('#visuals').on('cocoon:after-insert', function() {
      setPositions();
    }).on("cocoon:after-remove", function() {
      setPositions();
    });
  <% end %>
<% end %>
