<%= simple_form_for(@hobby) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :desc %>
    <%= f.input :difficulty, collection: Hobby::DIFFICULTIES %>
    <%= f.input :starting_cost %>
    <%= f.input :repeat_cost %>

    <h3>Resources</h3>
    <div id="resources">
      <%= f.simple_fields_for :resources do |resource| %>
        <%= render 'resource_fields', f: resource %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add resource', f, :resources %>
      </div>
    </div>

    <h3>Affiliate Links</h3>
    <div id="affiliate-links">
      <%= f.simple_fields_for :affiliate_links do |affiliate_link| %>
        <%= render 'affiliate_link_fields', f: affiliate_link %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add affiliate link', f, :affiliate_links %>
      </div>
    </div>

    <h3>Videos</h3>
    <div id="videos">
      <%= f.simple_fields_for :videos do |video| %>
        <%= render 'video_fields', f: video %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add video', f, :videos %>
      </div>
    </div>

    <%= f.input :public %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
