<div class="hobby">
  <div class="hobby-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="hobby-header">
            <h3>We think you'll love</h3>
            <h1><%= @hobby.name %></h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="hobby-slider slider-nav">
            <% @hobby.visuals.each do |visual| %>
              <div class="hobby-slider-item"><%= raw(visual_thumb_tag(visual)) %></div>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <% if @hobby.visuals.length > 1 %>
            <div class="hobby-slider slider-for">
              <% @hobby.visuals.each do |visual| %>
                <div class="hobby-slider-item"><%= raw(visual_tag(visual)) %></div>
              <% end %>
            </div>

            <% content_for(:after_js) do %>
              <%= javascript_tag do %>
                $(document).ready(function() {
                  $('.hobby-slider.slider-for').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: false,
                    fade: true,
                    asNavFor: '.hobby-slider.slider-nav'
                  });
                  $('.hobby-slider.slider-nav').slick({
                    slidesToShow: <%= @hobby.visuals.length %>,
                    slidesToScroll: 1,
                    asNavFor: '.hobby-slider.slider-for',
                    dots: true,
                    focusOnSelect: true,
                    variableWidth: true
                  });
                });
              <% end %>
            <% end %>
          <% else %>
            <div class="hobby-slider slider-for">
              <div class="hobby-slider-item"><%= raw(visual_tag(visual)) %></div>
            </div>
          <% end %>
        </div>
        <div class="col-md-3">
          <div class="content-box hobby-details">
            <div>difficulty: <span class="strong"><%= Hobby::DIFFICULTIES[@hobby.difficulty.to_i].titleize %></spa></div>

            <% if @hobby.starting_cost.to_i > 0 %>
              <div>starting cost: <span class="strong">about $<%= @hobby.starting_cost %></span></div>
            <% else %>
              <div>starting cost: <span class="strong">FREE</span></div>
            <% end %>

            <% if @hobby.repeat_cost.to_i > 0 %>
              <div>repeat cost: <span class="strong">about $<%= @hobby.repeat_cost %></span></div>
            <% else %>
              <div>repeat cost: <span class="strong">FREE</span></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hobby-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="hobby-desc content-box">
            <% if user_signed_in? %><%= link_to 'edit', edit_hobby_path(@hobby) %><% end %>
            <h3><%= @hobby.name %></h3>
            <p><%= @hobby.desc %></p>
          </div>
        </div>
        <div class="col-md-6">
          <% if @hobby.resources.any? %>
            <div class="content-box">
              <h3>Learn More!</h3>
              <% @hobby.resources.each do |resource| %>
                <div><%= link_to resource.desc, resource.ref %></div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if @hobby.affiliate_links.any? %>
    <div class="hobby-affiliates main content-box">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div>
              <h3>Get Started!</h3>
              <div class="hobby-affiliate-links">
                <% @hobby.affiliate_links.each do |affiliate_link| %>
                  <div class="affiliate_link">
                    <%= raw(affiliate_link.ref) %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hobby-affiliates nice-talk content-box" style="display: none;">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="adblock-message">
              <h3>Adblock is cool, but...</h3>
              <p>If you disable it we will show you amazon products that can get you started with this hobby right away.</p>
              <p>Plus it will help us pay for server time.</p>
              <p>If you don't care about that, no problem, we hope you find a cool new hobby.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
      $(window).load(function () {
        if($(".hobby-affiliate-links").height() == "0") {
          $(".hobby-affiliates.main").hide();
          $(".hobby-affiliates.nice-talk").show();
        }
      });
      <% end %>
    <% end %>
  <% end %>
</div>

<%= render 'hobby_footer' %>

<% content_for(:title_tag) do %>
  <%= @hobby.name %>
<% end %>
